:root { /* paleta de colores UX establecida*/
    --color-first-box: #4b0076;
    --color-second-box: #88058f;
    --color-third-box: #a816b5;
    --color-four-box: #a42ad0;
    --color-five-box: #e040eb;

}



body {
    margin: 50;
}

.container {
    display: flex;
    width: 600px;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

}


.caja1 {
    background-color: var(--color-first-box);
}

.caja2 {
    background-color: var(--color-second-box);
}

.caja3 {
    background-color: var(--color-third-box);
}

.caja4 {
    background-color: var(--color-four-box);
}

.caja5 {
    background-color: var(--color-five-box);
}

.caja1, .caja2, .caja3, .caja4, .caja5 {
    width: 100%;
}

.container section {
    min-width: 150px;
    min-height: 150px;
}

@media only screen and (min-width: 600px) {
    .caja2, .caja3, .caja4, .caja5 {
        width: 50%;
    }
}

@media only screen and (min-width: 800px) {
    .caja1 {
        width: 40%;
    }
    .caja2 {
        width: 60%;
    }
    .caja3, .caja4, .caja5 {
        width: 33.33%;
    }
}